$themeColor: #d9232d;
$lightThemeColor: #ba212b;
$secondaryThemeColor: #fe4066;
$color: rgb(231, 94, 80);
$whiteSmoke: #e6e6e6;
$whiteSmokeLight: #eee;
$white: #ffffff;
$blackColor: #191919;
$colorLowStock: #fab915;
$colorTrending: #61d2b4;
$colorGreen: #4caf50;
$colorGrey: grey;
$colorTransparent:rgba(0,0,0,0.5);
