@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import "colors";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.loadingIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container-contries {
  width: 95%;
  margin: 0 auto;
  padding: 40px 5px;
}
