@import "colors";

.container-products {
  width: 95%;
  margin: 0 auto;
  padding: 40px 5px;
}

.containet-search-product {
  padding: 20px 5px;

  min-height: 400px;
}
.container-search-bar {
  display: block;
  margin: 10px auto;
  width: 70%;

  h1 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 20px;
  }
}

.form-input-search-bar {
  height: 5rem;
  font-size: large;
}
.search-button {
  background-color: $whiteSmoke;
  color: $themeColor;
  height: 5rem;
  width: 5rem;
  font-size: large;
  &:hover {
    background-color: $themeColor;
    color: $white;
  }
}

@media screen and (max-width: 850px) {
  .container-search-bar {
    display: block;
    margin: 40px auto;
    width: 94%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-search-bar {
    display: block;
    margin: 40px auto;
    width: 94%;
  }
}
@media only screen and (min-width: 600px) {
  .container-search-bar {
    display: block;
    margin: 40px auto;
    width: 94%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-search-bar {
    display: block;
    margin: 40px auto;
    width: 94%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-search-bar {
    display: block;
    margin: 40px auto;
    width: 70%;
  }
}
